.works-page {
    width: 100%;
    margin-bottom: 20vh;
    position: relative;
    z-index: 999;
}

.works-page .container {
    z-index: -1;
    height: 170%;
}

.moving-strip {
    z-index: 99;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    gap: 8vw;
}

.moving-strip img {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    width: 2900px;
}

.works-with {
    z-index: 999;
    background-color: rgba(0, 255, 255, 0);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.icons,
.icons svg {
    background-color: rgba(0, 255, 255, 0);
    z-index: 999;
    display: flex;
    gap: 2vw;
    transition: all 0.3s;
}

.icons p {
    opacity: 0; 
    transition: all 0.3s;
}

.icons svg:hover {    
    transform: translateY(-3vh);
    filter: drop-shadow(0px 0px 10px rgba(118, 135, 181, 0.5));
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    justify-content: start;
    gap: 0;
}

.icon1:hover p{
    opacity: 1;
}
.icon2:hover p{
    opacity: 1;
}
.icon3:hover p{
    opacity: 1;
}
.icon4:hover p{
    opacity: 1;
}
.icon5:hover p{
    opacity: 1;
}
.icon6:hover p{
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .moving-strip img{width: 2500px;}
    .moving-strip{
        margin-bottom: 0;
    }
    .works-page{
        margin-bottom: 10vh;
    }
    .works-page .container{
        height: 40vh;
    }
    
}